%h1
  Dashboard
  = link_to "Dare someone!", "/", :class => "pull-right btn btn-success btn-large"

.row
  .span6
    %table.table.table-striped.span4
      %thead
        %tr
          %th My dares
      %tbody
        - @dares.each do |dare|
          %tr
            %td= render :partial => "dares/showsmall", :locals => { :dare => dare }
  .span6.pull-right
    %table.table.table-striped
      %thead
        %tr
          %th My daree's
      %tbody
        - @dares.each do |dare|
          %tr
            %td= render :partial => "dares/showsmall", :locals => { :dare => dare }  