%hr

%div
  ="Copyright © Tweet And Dare Team 2012 - #{Time.now.year}"
  .pull-right
    = link_to "http://www.railsrumble.com" do
      = image_tag "http://s1.railsrumble.com/assets/rr-logo-small-f2c869882ac5306656d15ac149cdd8a8.png"
